body{
  padding: 0;
  font-size: 30px;
}

h1{
  font-size: 80px;
}

h4{
  font-size: 40px;
}

h3{
  font-size: 40px;
}

input{
  font-size: 25px;
}

textarea{
  font-size: 25px;
}

header{
  text-align: center;
  width: 100%;
  background-color: orange;
  border-radius: 15px;
}

.message{
  font-size: 15px;
}

button{
  font-size: 30px;
}

.error{
  background-color: red;
  width: 30%;
  border-radius: 10px;
}
